/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

.DS_Store

# rspec failure tracking
.rspec_status

# Make sure no PII is accidently commited
# add w/ git add --force if actually docs
*.csv
*.txt
*.xml
*.xls
*.xlst
*.xlsx
*.doc
*.docx